<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timetable App</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div class="timetable">
            <h2>Timetable for {{ isToday(selectedDay) ? 'Today('+selectedDay+')' : selectedDay }}</h2>
            <!-- Buttons to move day up,down or reset -->
            <div class="buttons-wrapper">
                <button @click="changeCurrentDay(false)">Previous Day</button>
                <button @click="changeCurrentDay(null, true)" style="border-color: aqua;">Reset Day</button>
                <button @click="changeCurrentDay(true)">Next Day</button>
            </div>

            <div class="singleDay">
                
                <div class="">
                    <div v-for="hour in displayedHoursCurrentDay"  :class="['time-column', { rita: isRitaDay(selectedDay) }]" ><p :style="getActiveHourStyle(hour)">{{ hour }}</p></div>
                </div>
                <div class="day-column">
                    <template v-for="slot in createTimeSlots(selectedDay, true)">
                        <div v-if="slot.isEmpty" class="empty-slot" :style="getEventBlockStyle(slot)"></div>
                        <div v-else :style="getEventBlockStyle(slot)" class="event-block">
                            <p>{{ slot.activity }}</p><br>
                            <p style="font-size: xx-small;"> &nbsp; ({{ slot.startTime }} - {{ slot.endTime }})</p>
                        </div>
                    </template>
                </div>
            </div>

            <h2 >Full Week Overview</h2>
            <div class="week-grid week-overview">
                <div class="time-header">Time</div>
                <div v-for="day in days" :class="['day-header', 'min-width-130', { rita: isRitaDay(day) }]">{{ day }}</div>
                <div class="day-column">
                    <div v-for="hour in displayedHours" class="time-column">{{ hour }}</div>
                </div>
                <div v-for="day in days" class="day-column min-width-130">
                    <template v-for="slot in createTimeSlots(day)">
                        <div v-if="slot.isEmpty" class="empty-slot" :style="getEventBlockStyle(slot, day)" :class="[{ rita: isRitaDay(day) }]"></div>
                        <div v-else :style="getEventBlockStyle(slot)" class="event-block">
                            <p>{{ slot.activity }}</p><br>
                            <p style="font-size: xx-small;"> &nbsp; ({{ slot.startTime }} - {{ slot.endTime }})</p>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="main.js"></script>
    
</body>
</html>
